{% extends "layout.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="auth-section">
    <h1 class="auth-title">Register</h1>
    <form class="auth-form" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <div class="helptext">{{ field.help_text|safe }}</div>
                {% endif %}
                {{ field.errors }}
            </p>
        {% endfor %}
        <button class="auth-submit">Submit</button>
    </form>
</section>
{% endblock %}
