{% extends "layout.html" %}
{% load static %}

{% block title %}New Post{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_new.css' %}">
{% endblock %}

{% block content %}
<section class="new-post-section">
    <h1 class="new-post-title">Create a New Post</h1>
    <form action="{% url 'posts:new-post' %}" class="post-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="form-submit">Add Post</button>
    </form>
</section>
{% endblock %}
